@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.split-section {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw; 
  margin-left: calc(50% - 50vw); 



  flex-wrap: wrap; /* Permite que en pantallas pequeñas se apilen */
  min-height: 400px;
  /* Gradiente para TODO el componente */
  background: linear-gradient(135deg, #258aff 0%, #8574cd 100%);
  font-family: "Montserrat", sans-serif;
  color: #fff; /* Texto en blanco para resaltar en el gradiente */
}
/* COLUMNA IZQUIERDA: IMAGEN */
.split-section__image {
  flex: 1;           /* Ocupa la mitad del espacio, aproximadamente */
  min-width: 300px;  /* Evita que se encoja demasiado */
  display: flex;     /* Centra la imagen */
  justify-content: center;
  align-items: center;
}

.split-section__image img {
  max-width: 80%;
  height: auto;
  display: block;
  border-radius: 8px; /* Esquinas ligeramente redondeadas (opcional) */
}

/* COLUMNA DERECHA: TEXTO */
.split-section__content {
  flex: 1;
  min-width: 300px;
  padding: 40px;
  display: flex;             /* Centra verticalmente */
  flex-direction: column;
  justify-content: center;
}


/* TÍTULO */
.split-section__content h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


/* PÁRRAFO */
.split-section__content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0;
  color: #e4e4e4;
}
.split-section__content span{
  font-weight: 700;
  }
  

/* RESPONSIVE: En pantallas <= 768px, apila en columna */
@media (max-width: 768px) {
  .split-section {
    flex-direction: column;

  }
  

  .split-section__image{
    display: none;
  }
  .split-section__content {
    width: 100%;
    min-width: auto;
  }
  .split-section__content h2 {
    font-size: 40px;

  }
}
